version: '3.8'

services:
  app:
    build: .
    ports:
      - "8000:8000"  # FastAPI
      - "8501:8501"  # Streamlit (if run manually)
    env_file:
      - .env
    environment:
      - NEO4J_URI=bolt://neo4j:7687
    depends_on:
      - neo4j
    volumes:
      - .:/app

  neo4j:
    image: neo4j:latest
    ports:
      - "7474:7474"
      - "7687:7687"
    environment:
      NEO4J_AUTH: ${NEO4J_USERNAME:-neo4j}/${NEO4J_PASSWORD:-password}
    volumes:
      - neo4j_data:/data

volumes:
  neo4j_data:
